.page-container {
    position: relative;
    min-height: 100vh;
    /* background: linear-gradient(0deg, darkblue 3%, lightblue 100%) */
}

.content-wrap {
    padding-bottom: 5rem;
}

.jumbotron {
    margin-bottom: 0px;
    background: rgb(9,9,121);
    background: linear-gradient(146deg, rgba(9,9,121,1) 0%, rgba(8,29,134,1) 3%, rgba(0,212,255,1) 100%);
    color: lightblue;
}

.name {
    padding-left: 1rem;
}